
//Variables

//Variables generales
$colorBase: white;
$colorPrincipal: blue;
$colorSecundario: black;
$colorTerciario: green;

$tipografiaGeneral: Calibri;

$mobile: 570px;
$tablet: 760px;
$desktop: 1024px;

//Variables para Home
$estatusEstado: Pagado; //Pagado, Pendiente, Aun_no_empieza 

